{% extends "layout.html" %}
{% load static %}
{% block content %}

<br><br><br><br>

    <center>
        <img src="/static/qr_free_images/{{qrcode.id}}.png">
        <br>
        <button>
            <a href="/static/qr_free_images/{{qrcode.id}}.png" download>
                Download Qr code 
            </a>
        </button>
    </center>
    <div style="margin-top:70px;">
        <h3 style="text-align: center;">Go Premium and Generate Profissional QrCode</h3>
    </div>
    <div style="margin-left:110px;"> 
       
        <img style="width: 18%;" src="{% static 'img/pre1.jpg' %}">
        <img style="width: 18%;" src="{% static 'img/pre2.jpg' %}">
        <img style="width: 18%;" src="{% static 'img/pre3.jpg' %}">
        <img style="width: 18%;" src="{% static 'img/pre4.jpg' %}">
        <img style="width: 18%;" src="{% static 'img/pre5.jpg' %}">
    
    </div>
    <div>
        <img style="width: 100%;" src="{% static 'img/premiumimg.jpg' %}">
    </div>
{% endblock content %}