{% extends 'base.html' %} 
{% block content %}
   <body style="width: 1000px; margin:50px auto">
    <form method="POST">
            {% csrf_token %}
            <input style="" type="url" placeholder="URL PLEASE" required name="url">
            <button type= "submit" >get qrcode</button>
    </form>       
    {% if message %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endif %}
    <div class="alert alert-info">
        <a class="btn btn-primary" href="{% url 'QrCode' %}">Qr Code List</a>
   </body>
{% endblock %}