{% load static %}
{% block content %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QR code generator</title>
    <link rel="stylesheet" href="{% static 'scss/main.css' %}">
</head>
<style>
    .design-customizations{
        height: 40vh!important;
    }
    .design-customizations .header-title{
        height: 20%!important;
    }
    .social-media-channels{
        height: 100vh!important;
    }
    .social-media-channels .header-title{
        height: 10%!important;
    }
    .social-media-channels .content .title{
        height: 10%!important;
    }
    .social-media-channels .content .website,.facebook,.youtube{
        height: 18%!important;
    }
    .social-media-channels .content .select{
        width: 80%;
        display: flex;
        justify-content:center;
        align-items:center;
        margin: 0 auto;
    }

</style>
<body>
<div class="container">
    <form method="POST">
        {% csrf_token %}
        {{ form.errors }}   
        <div class="left-side">
            <div class="header-input">
                <div class="icon"><img src="{% static 'icons/megaphone.png' %}" alt="icon"></div>
                <input type="text" name="qrname" placeholder="Name your QR Code...">
            </div>

            <div class="design-customizations">
                <div class="header-title">
                    <div class="icon">
                        <img src="{% static 'icons/design.png' %}" alt="icon">
                    </div>
                    <div class="text">
                        <h3>Design & Customizations</h3>
                    </div>
                </div>
                <div class="choose-img">
                    <p>Choose image from templates <span><input type="file" name="image"> or upload your own</span></p>
                </div>
            </div>

            <div class="basic-information">
                <div class="header-title">
                    <div class="icon">
                        <img src="{% static 'icons/design.png' %}" alt="icon">
                    </div>
                    <div class="text">
                        <h3>Basic Information</h3>
                    </div>
                </div>
                <div class="content">
                    <div class="title">
                        <p>Fields marked with a * are required information.</p>
                    </div>
                    <div class="headline">
                        <p>Headline*:</p>
                        <input type="text" name="headline" value="">
                    </div>
                    <div class="about-us">
                        <p>About us:</p>
                        <input style="width: 350px; height: 60px;" type="text" name="about_us">
                    </input>
                    </div>
                </div>
            </div>

            <div class="social-media-channels">
                <div class="header-title">
                    <div class="icon">
                        <img src="{% static 'icons/design.png' %}" alt="icon">
                    </div>
                    <div class="text">
                        <h3>Social Media Channels</h3>
                    </div>
                </div>
                <div class="content">
                    <div class="title">
                        <p>Add your username or links
                            to social media pages below.
                            Delete a channel or use the
                            arrows to rearrange the
                            order of the links as they
                            appear.</p>
                    </div>

                    <div class="website">
                        <p>Website:</p>
                        <input style="width:80px; height:30px;" type="text" name="social_media_type">
                        <div class="icon"><img src="{% static 'icons/web.png' %}" alt=""></div>
                        <div class="inputs">
                            <div class="url">
                                <input type="text" name="url1" value="www.your-website.com">
                            </div>
                            <div class="text">
                                <input type="text" name="title1" value="Visit us online">
                            </div>
                        </div>
                    </div>

                    <div class="facebook">
                        <p>Facebook:</p>
                        <input style="width:80px; height:30px;" type="text" name="social_media_type2">
                        <div class="icon"><img src="{% static 'icons/facebook.png' %}" alt=""></div>
                        <div class="inputs">
                            <div class="url">
                                <input type="text" name="url2" value="www.facebook.com/page">
                            </div>
                            <div class="text">
                                <input type="text" name="title2" value="Become a fan">
                            </div>
                        </div>
                    </div>

                    <div class="youtube">
                        <p>YouTube:</p>
                        <input style="width:80px; height:30px;" type="text" name="social_media_type3">
                        <div class="icon"><img src="{% static 'icons/youtube.png' %}" alt=""></div>
                        <div class="inputs">
                            <div class="url">
                                <input type="text" name="url3" value="www.youtube.com/user/mychannel">
                            </div>
                            <div class="text">                           
                                <input type="text" name="title3" value="Watch our videos">
                            </div>
                        </div>
                    </div>
            
                    <div class="select">
                        <p>Scale</p>

                        <select name="scale" class="header-input">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <div class="select">
                        <p>Color</p>
                        <select name="color" class="header-input">
                            <option value="black">Black</option>
                            <option value="red">Red</option>
                            <option value="blue">Blue</option>
                            <option value="green">Green</option>
                            <option value="yellow">Yellow</option>
                            <option value="orange">Orange</option>
                            <option value="purple">Purple</option>
                            <option value="pink">Pink</option>
                            <option value="brown">Brown</option>
                            <option value="gray">Gray</option>
                            <option value="white">White</option>
                        </select>
                    </div>
                </div>
            </div>


        </div>
        <button type="submit" class="btn btn-info">Save</button>           
    </form>
 
    <div class="right-side">
        <div class="right-side-content">
            <div class="buttons">
                <button class="preview">Preview</button>
                <button class="qr-code">QR Code</button>
            </div>
            <div class="right-side-content">
                
                <div class="connect-text" id="change-color">
                    <h3>Connect with us on social media</h3>
                    <p>Follow us and get updates delivered to your favorite social media channel.</p>
                </div>
                <div class="social-links">
                    <div class="card">
                        <div class="icon"><img class="web-icon" src="{% static 'icons/web.png' %}" alt=""></div>
                        <div class="text">
                            <h3>Visit us website</h3>
                            <p>www.your-website.com</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="icon"><img src="{% static 'icons/facebook.png' %}" alt=""></div>
                        <div class="text">
                            <h3>Facebook</h3>
                            <p>www.your-website.com</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="icon"><img src="{% static 'icons/youtube.png' %}" alt=""></div>
                        <div class="text">
                            <h3>YouTube</h3>
                            <p>www.your-website.com</p>
                        </div>
                    </div>
                </div>
                <div class="share-links" id="change-color-btn">
                    <img src="{% static 'icons/share.png' %}" alt="icon">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
{% endblock content %} 