
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Rating</title>
    <link rel="stylesheet" href="{% static 'scss/rating.css' %}">
</head>
<body>
<div class="container">
    <div class="left-side">
        <div class="header-input">
            <div class="icon"><img src="{% static 'icons/megaphone.png' %}" alt="icon"></div>
            <input type="text" placeholder="Name your QR Code...">
        </div>
        <div class="design-customizations">
            <div class="header-title">
                <div class="icon">
                    <img src="{% static 'icons/design.png' %}" alt="icon">
                </div>
                <div class="text">
                    <h3>Design & Customizations</h3>
                </div>
            </div>
            <div class="choose-color">
                <div class="title">
                    <p>
                        Personalize your page by selecting some colors and uploading a logo.
                    </p>
                </div>
                <div class="colors">
                    <p>Colors:</p>
                    <div class="color-card">
                        <button onclick="changeColor(color1='#447fb6',color2='#e91e63')" class="first-card">
                            <div class="box"></div>
                            <div class="circle"></div>
                        </button>
                        <button onclick="changeColor(color1='#455a64',color2='#e91e63')" class="second-card">
                            <div class="box"></div>
                            <div class="circle"></div>
                        </button>
                        <button onclick="changeColor(color1='#d32f2f',color2='#ef9a9a')" class="third-card">
                            <div class="box"></div>
                            <div class="circle"></div>
                        </button>
                        <button onclick="changeColor(color1='#4caf50',color2='#81c784')" class="forth-card">
                            <div class="box"></div>
                            <div class="circle"></div>
                        </button>
                        <button onclick="changeColor(color1='#795548',color2='#ff8a65')" class="fifth-card">
                            <div class="box"></div>
                            <div class="circle"></div>
                        </button>
                    </div>
                </div>
                <div class="upload-color">
                    <div class="primary">
                        <p>Primary</p>
                        <div class="card">
                            <input class="code" type="text" id="change-first-value" value="#447fb6">
                            <input class="color" type="color" id="change-second-value" value="#447fb6">
                        </div>
                    </div>
                    <button class="change-button">
                        <img src="{% static 'icons/arrows.png' %}" alt="icons">
                    </button>
                    <div class="button-color">
                        <p>Button</p>
                        <div class="card">
                            <input class="code" type="text" id="change-button-color-1" value="#e91e63">
                            <input class="color" type="color" id="change-button-color-2" value="#e91e63">
                        </div>
                    </div>
                </div>
            </div>
            <div class="choose-img">
                <div class="title">
                    <h3>Image:</h3>
                    <p>640 x 360 px</p>
                </div>
                <div class="images">
                    <img src="{% static 'img/header.jpg' %}" alt="img">
                </div>
                <div class="upload-image">
                    <input type="file" id="upload-pdf" hidden class="file-input">
                    <label for="upload-pdf">Upload</label>
                </div>
            </div>
        </div>
        <div class="rating">
            <div class="header-title">
                <div class="icon">
                    <img src="{% static 'icons/design.png' %}" alt="icon">
                </div>
                <div class="text">
                    <h3>Rating</h3>
                </div>
            </div>
            <div class="content">
                <div class="title">
                    <p>
                        Enter your question below and choose a rating type.
                    </p>
                </div>
                <div class="body">
                    <div class="first-section">
                        <p>Question:</p>
                        <input type="text" value="How was your rental experience?">
                    </div>
                </div>
            </div>
        </div>
        <div class="basic-information">
            <div class="header-title">
                <div class="icon">
                    <img src="{% static 'icons/design.png' %}" alt="icon">
                </div>
                <div class="text">
                    <h3>Basic Information</h3>
                </div>
            </div>
            <div class="content">
                <div class="title">
                    <p>Provide your company information below.</p>
                    <p>Whenever a customer submits a rating, we'll send you an email.</p>
                </div>
                <div class="headline">
                    <p>Email*:</p>
                    <input type="text" placeholder="your@email.com">
                </div>
                <div class="headline">
                    <p>Company:</p>
                    <input type="text" value="Lake Cruisers">
                </div>
                <div class="headline">
                    <p>Website:</p>
                    <input type="text" value="www.lakecruisers.com">
                </div>
            </div>
        </div>
        <div class="social-media-channels">
            <div class="header-title">
                <div class="icon">
                    <img src="{% static 'icons/design.png' %}" alt="icon">
                </div>
                <div class="text">
                    <h3>Social Media Channels</h3>
                </div>
            </div>
            <div class="content">
                <div class="title">
                    <p>Add your username or links
                        to social media pages below.
                    </p>
                    <p>Social icons will appear on the Thank You page.</p>
                </div>
                <div class="website">
                    <p>Website:</p>
                    <div class="icon"><img src="{% static 'icons/web.png' %}" alt=""></div>
                    <div class="inputs">
                        <div class="url">
                            <p class="title">URL*</p>
                            <input type="text" value="www.your-website.com">
                        </div>
                    </div>
                </div>
                <div class="facebook">
                    <p>Facebook:</p>
                    <div class="icon"><img src="{% static 'icons/facebook.png' %}" alt=""></div>
                    <div class="inputs">
                        <div class="url">
                            <p class="title">URL*</p>
                            <input type="text" value="www.facebook.com/page">
                        </div>
                    </div>
                </div>
                <div class="youtube">
                    <p>YouTube:</p>
                    <div class="icon"><img src="{% static 'icons/youtube.png' %}" alt=""></div>
                    <div class="inputs">
                        <div class="url">
                            <p class="title">URL*</p>
                            <input type="text" value="www.youtube.com/user/mychannel">
                        </div>
                    </div>
                </div>
                <!--                <div class="add-more">-->
                <!--                    <div class="title">-->
                <!--                        <p>Click on the icon to add a social media profile.</p>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </div>
        <div class="welcome-screen">
            <div class="header-title">
                <div class="icon">
                    <img src="{% static 'icons/design.png' %}" alt="icon">
                </div>
                <div class="text">
                    <h3>Welcome Screen</h3>
                </div>
            </div>
            <div class="content">
                <div class="title">
                    <p>
                        Display your logo while your page is loading.
                    </p>
                </div>
                <div class="body">
                    <div class="text">Image:</div>
                    <div class="upload-image">
                        <input type="file" id="upload-btn" hidden class="file-input">
                        <label for="upload-btn"><img src="{% static 'icons/megaphone.png' %}" alt=""></label>
                    </div>
                    <div class="change-button">
                        <button>
                            <img src="{% static 'icons/exchange.png' %}" alt="icon">
                            Change
                        </button>
                        <a href="#">Preview</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-side">
        <div class="right-side-content">
            <div class="buttons">
                <button data-id="first-content" class="right-side-btn active">Preview</button>
                <button data-id="second-content" class="right-side-btn">QR Code</button>
            </div>
            <div id="first-content" class="right-side-second-content active">
                <div class="header-right-side" id="change-color">
                    <h3>Lake Cruisers</h3>
                </div>
                <div class="body-right-side">
                    <div class="card-right-side">
                        <img class="body-img" src="{% static 'img/header.jpg' %}" alt="image">
                        <h3>How was your rental experience?</h3>

                        <input hidden type="radio" name="stars" id="star-null" />
                        <input hidden type="radio" name="stars" id="star-1" />
                        <input hidden type="radio" name="stars" id="star-2" />
                        <input hidden type="radio" name="stars" id="star-3" />
                        <input hidden type="radio" name="stars" id="star-4" checked />
                        <input hidden type="radio" name="stars" id="star-5" />

                        <section>
                            <label for="star-1">
                                <svg width="255" height="240" viewBox="0 0 51 48">
                                    <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                                </svg>
                            </label>
                            <label for="star-2">
                                <svg width="255" height="240" viewBox="0 0 51 48">
                                    <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                                </svg>
                            </label>
                            <label for="star-3">
                                <svg width="255" height="240" viewBox="0 0 51 48">
                                    <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                                </svg>
                            </label>
                            <label for="star-4">
                                <svg width="255" height="240" viewBox="0 0 51 48">
                                    <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                                </svg>
                            </label>
                            <label for="star-5">
                                <svg width="255" height="240" viewBox="0 0 51 48">
                                    <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
                                </svg>
                            </label>
                        </section>
                        <textarea placeholder="Add a comment (optional)"></textarea>

                    </div>
                    <a href="#">www.lakecruisers.com</a>
                </div>
                <div class="footer-right-side" id="change-color-btn">
                    <button>SEND RATING</button>
                </div>
            </div>
            <div id="second-content" class="right-side-second-content">
                <div class="qr-code-img">
                    <img src="{% static 'img/Без%20названия.png' %}" alt="image">
                </div>
                <div class="qr-code-text">
                    <h3>Scan this QR Code to preview</h3>
                    <p>You can customize the design of your
                        QR Code in the next step.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/main.js"></script>
</body>
</html>

{% endblock %} 